<h2>Submit solution</h2>
<%= simple_form_for @submission, :html => {:class => "form-horizontal"} do |f| %>
  <div class="form-inputs">
    <%= f.input :user_id, :value => @submission.user.id, as: :hidden %>
    <%= f.input :user, :disabled => true %>

    <%= f.input :problem_id, :value => @submission.problem.id, as: :hidden %>
    <%= f.input :problem, :disabled => true %>

    <%= f.input :language_name, :selected => "GNU C++", :collection => ["GNU C++", "Free Pascal"], :label => 'Language'%>

    <%= f.input :source, :input_html => {:rows => 15, :class => "span8"}%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit", :class => "btn-primary" %>
    <%= link_to "Back to problem", :problem, :class => "btn" %>
  </div>
<% end %>
