<%- model_class = Submission -%>
<div class="page-header">
  <h1><%= "Submission ##{@submission.id}"%></h1>
</div>

<div>
  <%= sanitize @submission.report, :tags => %w(table tr td) %>
</div>

<div>
  <pre><%= @submission.source %></pre>
</div>

<%= link_to "Go to problem", @submission.problem, :class => "btn" %>
<%= link_to "Back to status", :submissions, :class => "btn" %>
